$background: #fff;
$primary: #559933;
$secondary: #eee;

$header-font-color: #fff;
$header-height: 50px;

$main-font: sans-serif;
$secondary-font: "Arial";

$link: #1668b3;
$link-visited: #ccc;

@import "C:/Users/bruker/Documents/Development/theResponse/sass/functions";
@import "C:/Users/bruker/Documents/Development/theResponse/sass/normalize";
@import "C:/Users/bruker/Documents/Development/theResponse/sass/core";
@import "C:/Users/bruker/Documents/Development/theResponse/sass/typography";
